<ion-header class="ion-no-border">
  <ion-toolbar>
    <app-header [titulo]="titulo" [icono]="'close'" (click)='clickIcono($event)'></app-header>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">  
  
  <form [formGroup]="datosForm">
    <!--nombre-->
    <ion-row>
      <ion-col size="6">
        <ion-item [class.invalid]="submitted && !datosForm.controls.firstName.valid" >
          <ion-icon name="person-outline" slot="start" color="primary"></ion-icon>
          <ion-label position="floating">First Name</ion-label>     
          <ion-input name="firstName" type="text" formControlName="firstName" required  [readonly]="readonly"></ion-input>
          <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
            <div *ngIf="f.firstName.errors.required">
              <h5>Enter a first name</h5>
            </div>
          </div>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item [class.invalid]="submitted && !datosForm.controls.lastName.valid" >
          <ion-icon name="person-outline" slot="start" color="primary"></ion-icon>
          <ion-label position="floating">Last Name</ion-label>     
          <ion-input name="lastName" type="text" formControlName="lastName" required [readonly]="readonly"></ion-input>
          <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
            <div *ngIf="f.lastName.errors.required">
              <h5>Enter a last name</h5>
            </div>
          </div>
        </ion-item>
      </ion-col>
    </ion-row>
    

    
       
    <!--género-->
    <ion-item [class.invalid]="submitted && !datosForm.controls.gender.valid" >
      <ion-icon name="male-female" slot="start" color="primary"></ion-icon>
      <ion-label position="floating" >Gender</ion-label>
      <ion-select placeholder="Select one" formControlName="gender" name="gender" required [disabled]="readonly">
        <ion-select-option value="Female">Female</ion-select-option>
        <ion-select-option value="Male">Male</ion-select-option>
        <ion-select-option value="Unspecified">Unspecified</ion-select-option>
      </ion-select>
      <div *ngIf="submitted && f.gender.errors" class="invalid-feedback">
        <div *ngIf="f.gender.errors.required">
          <h5>Select a gender</h5>
        </div>
      </div>
    </ion-item>

    <!--fecha de nacimiento-->
    <ion-item [class.invalid]="submitted && !datosForm.controls.dateOfBirth.valid">
      <ion-icon name="calendar-outline" slot="start" color="primary"></ion-icon>
      <ion-label position="floating">Date of birth</ion-label>
      <ion-datetime displayFormat="MM/DD/YYYY" min="1900-01-01" max="2100-12-31" 
                    formControlName="dateOfBirth" name="dateOfBirth" required [readonly]="readonly"></ion-datetime>
      <div *ngIf="submitted && f.dateOfBirth.errors" class="invalid-feedback">
        <div *ngIf="f.dateOfBirth.errors.required">
          <h5>Select a date of birth</h5>
        </div>
      </div>
    </ion-item>

    <!--telefono-->
    <ion-item [class.invalid]="submitted && !datosForm.controls.phone.valid">
      <ion-icon name="call-outline" slot="start" color="primary"></ion-icon>
      <ion-label position="floating">Phone</ion-label>
      <ion-input name="phone" type="number" formControlName="phone" required [readonly]="readonly"></ion-input>
      <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
        <div *ngIf="f.phone.errors.required">
          <h5>Enter a phone number</h5>
        </div>
      </div>
    </ion-item> 

    <!--telefono alternativo-->
    <ion-item >
      <ion-icon name="phone-portrait-outline" slot="start" color="primary"></ion-icon>
      <ion-label position="floating">Alternative Phone</ion-label>
      <ion-input name="altphone" type="number" formControlName="altphone" required [readonly]="readonly"></ion-input>
    </ion-item> 

    <!--email-->
    <ion-item [class.invalid]="submitted && !datosForm.controls.email.valid">
      <ion-icon name="mail-outline" slot="start" color="primary"></ion-icon>
      <ion-label position="floating">E-mail</ion-label>
      <ion-input name="email" type="text" formControlName="email" required [readonly]="readonly"></ion-input>
      <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
        <div *ngIf="f.email.errors.required">
          <h5>Enter an email</h5>
        </div>
      </div>
    </ion-item> 
    
    

    <!--ubicacion-->
    <div [class.invalid]="submitted && !datosForm.controls.address.valid">
      <app-input-ubicacion     
        [readonly]="readonly"
        [address] = "cliente.address"
        [country]="cliente.address.country"
        [street_number]="cliente.address.street_number"
        [street_name] ="cliente.address.street_name" 
        [locality]="cliente.address.locality"
        [state] ="cliente.address.state"
        [door_number]="cliente.address.door_number"  
        [floor_number]="cliente.address.floor_number" 
        [latitud]="cliente.address.lat" 
        [longitud]="cliente.address.lng"  
        [location]="cliente.address.location"  
        (onSelectValue)='setValue($event)'>
      </app-input-ubicacion> 

      <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
        <div *ngIf="f.address.errors.required">
          <h5>Enter an address</h5>
        </div>
      </div>
    </div>
    
      
    
  
  </form>
</ion-content>
<ion-footer>
  <ion-button *ngIf="!readonly" (click)="registrar()" expand="block">Submit</ion-button>    
</ion-footer>