<ion-header class="ion-no-border">
  <ion-toolbar>
    <app-header [titulo]="'Customer Registration'" [icono]="'back'"></app-header>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">  
  
  <form [formGroup]="datosForm" (ngSubmit)="registrar()">
    <!--nombre-->
    <ion-item [class.invalid]="submitted && !datosForm.controls.name.valid" >
      <ion-icon name="person" slot="start" color="primary"></ion-icon>
      <ion-label position="floating">Name</ion-label>     
      <ion-input name="name" type="text" formControlName="name" required ></ion-input>
      <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
        <div *ngIf="f.name.errors.required">
          <h5>Enter a name</h5>
        </div>
      </div>
    </ion-item>
       
    <!--género-->
    <ion-item [class.invalid]="submitted && !datosForm.controls.gender.valid" >
      <ion-icon name="male-female" slot="start" color="primary"></ion-icon>
      <ion-label position="floating" >Gender</ion-label>
      <ion-select placeholder="Select one" formControlName="gender" name="gender" required>
        <ion-select-option value="f">Female</ion-select-option>
        <ion-select-option value="m">Male</ion-select-option>
        <ion-select-option value="u">Unspecified</ion-select-option>
      </ion-select>
      <div *ngIf="submitted && f.gender.errors" class="invalid-feedback">
        <div *ngIf="f.gender.errors.required">
          <h5>Select a gender</h5>
        </div>
      </div>
    </ion-item>

    <!--fecha de nacimiento-->
    <ion-item [class.invalid]="submitted && !datosForm.controls.date_of_birth.valid">
      <ion-icon name="calendar" slot="start" color="primary"></ion-icon>
      <ion-label position="floating">Date of birth</ion-label>
      <ion-datetime displayFormat="MM/DD/YYYY" min="1900-01-01" max="2100-12-31" 
                    formControlName="date_of_birth" name="date_of_birth" required></ion-datetime>
      <div *ngIf="submitted && f.date_of_birth.errors" class="invalid-feedback">
        <div *ngIf="f.date_of_birth.errors.required">
          <h5>Select a date of birth</h5>
        </div>
      </div>
    </ion-item>

    <!--telefono-->
    <ion-item [class.invalid]="submitted && !datosForm.controls.phone.valid">
      <ion-icon name="call" slot="start" color="primary"></ion-icon>
      <ion-label position="floating">Phone</ion-label>
      <ion-input name="phone" type="number" formControlName="phone" required ></ion-input>
      <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
        <div *ngIf="f.phone.errors.required">
          <h5>Enter a phone number</h5>
        </div>
      </div>
    </ion-item> 

    <!--telefono alternativo-->
    <ion-item >
      <ion-icon name="phone-portrait" slot="start" color="primary"></ion-icon>
      <ion-label position="floating">Alternative Phone</ion-label>
      <ion-input name="altphone" type="number" formControlName="altphone" required ></ion-input>
    </ion-item> 

    <!--email-->
    <ion-item [class.invalid]="submitted && !datosForm.controls.email.valid">
      <ion-icon name="mail" slot="start" color="primary"></ion-icon>
      <ion-label position="floating">E-mail</ion-label>
      <ion-input name="email" type="text" formControlName="email" required ></ion-input>
      <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
        <div *ngIf="f.email.errors.required">
          <h5>Enter an email</h5>
        </div>
      </div>
    </ion-item> 
    
    <!--estado-->
    <ion-item [class.invalid]="submitted && !datosForm.controls.status.valid">
      <ion-icon name="checkbox" slot="start" color="primary"></ion-icon>
      <ion-label position="floating">Status</ion-label>
      <ion-select placeholder="Select one" formControlName="status" name="status" required>
        <ion-select-option value="a">Active</ion-select-option>
        <ion-select-option value="i">Inactive</ion-select-option>
        <ion-select-option value="p">Pending</ion-select-option>
      </ion-select>
      <div *ngIf="submitted && f.status.errors" class="invalid-feedback">
        <div *ngIf="f.status.errors.required">
          <h5>Select a status</h5>
        </div>
      </div>
    </ion-item>

    <!--ubicacion-->
    <ion-item [class.invalid]="submitted && !datosForm.controls.address.valid">
      <ion-icon name="business" slot="start" color="primary"></ion-icon>
      <app-input-ubicacion (onSelectValue)="setValue($event)"></app-input-ubicacion> 
      <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
        <div *ngIf="f.address.errors.required">
          <h5>Enter an address</h5>
        </div>
      </div>
    </ion-item>
    
    <ion-button type="submit" expand="block">Submit</ion-button>    
  </form>
</ion-content>