<ion-header class="ion-no-border">
  <ion-toolbar>
    <app-header [titulo]="titulo" [icono]="'close'" (click)='clickIcono($event)'></app-header>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">  
    <div class="icono-foto">
      <app-seleccionar-imagen
        [aspectRatio] = "1/1"
        [croppedImage]="croppedImageIcono"
        (onSelectValue)=imagenSeleccionadaIcono($event)>
      </app-seleccionar-imagen>
    </div>
  

  <form [formGroup]="datosForm">
    <!--nombre-->
    <ion-row>
      <ion-col>
        <ion-item [class.invalid]="submitted && !datosForm.controls.name.valid" >
          <ion-icon name="business-outline" slot="start" color="primary"></ion-icon>
          <ion-label position="floating">Name</ion-label>     
          <ion-input name="name" type="text" formControlName="name" required  [readonly]="readonly"></ion-input>
          <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
            <div *ngIf="f.name.errors.required">
              <h5>Enter a Company name</h5>
            </div>
          </div>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="section-border">
        <ion-item>
          <ion-icon name="albums-outline" slot="start" color="primary"></ion-icon>
          <h3>Plans</h3> 
          <ion-button *ngIf="!readonly" slot="end" color="primary" (click)="agregarPlan()">+</ion-button>   
        </ion-item>
    
        <ion-item *ngFor="let plan of planes; let i=index;">
          {{plan}}
          <ion-icon *ngIf="!readonly" color="danger" name="trash-outline" slot="end" color="danger"  (click)="eliminarPlan(i)"></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>
    
  
  </form>
</ion-content>
<ion-footer>
  <ion-button color="success" *ngIf="!readonly" (click)="registrar()" expand="block">
    <ion-icon name="save-outline"></ion-icon>&nbsp;
    Save
  </ion-button>    
</ion-footer>
