<ion-header class="ion-no-border">
  <ion-toolbar>
    <app-header [titulo]="'Recuperar Contraseña'" [icono]="'back'"></app-header>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form #form="ngForm" (ngSubmit)="recuperarContrasena()">
    
        
      <ion-item class="input-item">
          <ion-input name="email" type="email" placeholder="Mail" [(ngModel)]="email" required></ion-input>
      </ion-item>
          
      <ion-button size="large" expand="block" (click)="recuperarContrasena()">
          Recuperar Contraseña
      </ion-button>
           
   
</form>
</ion-content>
