<ion-header class="ion-no-border">
  <ion-toolbar>
    <app-header [titulo]="titulo" [icono]="'back'" (click)='clickIcono($event)'></app-header>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">  
  <form [formGroup]="datosForm">
  <ion-row class="section-border">
    <!--estado-->
    <ion-col>
      <ion-item [class.invalid]="submitted && !datosForm.controls.status.valid">
        <ion-icon name="checkbox-outline" slot="start" color="primary"></ion-icon>
        <ion-label position="floating">Status</ion-label>
        <ion-select placeholder="Select one" formControlName="status" name="status" required [disabled]="readonly">
          <ion-select-option value="Active">Active</ion-select-option>
          <ion-select-option value="Inactive">Inactive</ion-select-option>
          <ion-select-option value="Pending">Pending</ion-select-option>
        </ion-select>
        <div *ngIf="submitted && f.status.errors" class="invalid-feedback">
          <div *ngIf="f.status.errors.required">
            <h5>Select a status</h5>
          </div>
        </div>
      </ion-item>
    </ion-col>
    <ion-col *ngIf="usuarioService.isAdmin()">
      <ion-item>
        <ion-label>Agent</ion-label>    
        <ion-icon name="person-outline" slot="start" color="primary"></ion-icon>
        {{agent.displayName}} 
        <ion-button *ngIf="!readonly" slot="end" color="primary" (click)="changeAgent()">+</ion-button>
      </ion-item>     
    </ion-col>
    
  </ion-row>
 
  <ion-row>
    <ion-col class="section-border">
     

      <ion-row>
        <ion-col>
          <!--Número-->
        <ion-item [class.invalid]="submitted && !datosForm.controls.number.valid" >
          <ion-icon name="keypad-outline" slot="start" color="primary"></ion-icon>
          <ion-label position="floating">Police Number</ion-label>     
          <ion-input name="number" type="text" formControlName="number" required [readonly]="readonly"></ion-input>
          <div *ngIf="submitted && f.number.errors" class="invalid-feedback">
            <div *ngIf="f.number.errors.required">
              <h5>Enter a policy number</h5>
            </div>
          </div>
        </ion-item>
        </ion-col>
        <ion-col>
          <!--Número-->
        <ion-item [class.invalid]="submitted && !datosForm.controls.company.valid" >
          <ion-icon name="business-outline" slot="start" color="primary"></ion-icon>
          <ion-label position="floating">Company</ion-label>     
          <ion-select placeholder="Select one" formControlName="company" (ionChange)="changeCompany($event)" name="autoplay" [disabled]="readonly">
            <ion-select-option *ngFor="let compania of companias" [value]="compania.name">{{compania.name}}</ion-select-option>
          </ion-select>
          <div *ngIf="submitted && f.company.errors" class="invalid-feedback">
            <div *ngIf="f.company.errors.required">
              <h5>Enter a company</h5>
            </div>
          </div>
        </ion-item>
        </ion-col>
        <ion-col>
          <!--Número-->
        <ion-item [class.invalid]="submitted && !datosForm.controls.plan.valid" >
          <ion-icon name="shield-outline" slot="start" color="primary"></ion-icon>
          <ion-label position="floating">Plan</ion-label>     
          
          <ion-select placeholder="Select one" formControlName="plan" name="autoplay"  [disabled]="readonly">
            <ion-select-option *ngFor="let plan of planes" [value]="plan">{{plan}}</ion-select-option>
          </ion-select>
        
          <div *ngIf="submitted && f.plan.errors" class="invalid-feedback">
            <div *ngIf="f.plan.errors.required">
              <h5>Select a plan</h5>
            </div>
          </div>
        </ion-item>
        </ion-col>
      </ion-row>
        
      <ion-row>
        <ion-col>
            <!--Fecha  recibido-->
            <ion-item [class.invalid]="submitted && !datosForm.controls.receivedDate.valid" >
              <ion-icon name="calendar-outline" slot="start" color="primary"></ion-icon>
              <ion-label position="floating">Received date</ion-label>     
              <ion-datetime displayFormat="MM/DD/YYYY" min="2000-01-01" max="2100-12-31" 
                            formControlName="receivedDate" name="receireceivedDatevedDate" required [readonly]="readonly"></ion-datetime>
              <div *ngIf="submitted && f.receivedDate.errors" class="invalid-feedback">
                <div *ngIf="f.receivedDate.errors.required">
                  <h5>Select a date</h5>
                </div>
              </div>
            </ion-item>
        </ion-col>
        <ion-col>
          <!--Fecha  efectiva-->
          <ion-item [class.invalid]="submitted && !datosForm.controls.effectiveDate.valid" >
            <ion-icon name="calendar-outline" slot="start" color="primary"></ion-icon>
            <ion-label position="floating">Effective date</ion-label>     
            <ion-datetime displayFormat="MM/DD/YYYY" min="2000-01-01" max="2100-12-31" 
                          formControlName="effectiveDate" name="effectiveDate" required [readonly]="readonly"></ion-datetime>
            <div *ngIf="submitted && f.effectiveDate.errors" class="invalid-feedback">
              <div *ngIf="f.effectiveDate.errors.required">
                <h5>Select a date</h5>
              </div>
            </div>
          </ion-item>
        </ion-col>
      </ion-row>
  
      <ion-row>
        <ion-col>
          <!--Fecha de pagado-->
          <ion-item [class.invalid]="submitted && !datosForm.controls.paidThroughDate.valid" >
            <ion-icon name="calendar-outline" slot="start" color="primary"></ion-icon>
            <ion-label position="floating">Paid through date</ion-label>     
            <ion-datetime displayFormat="MM/DD/YYYY" min="2000-01-01" max="2100-12-31" 
                          formControlName="paidThroughDate" name="paidThroughDate" required [readonly]="readonly"></ion-datetime>
            <div *ngIf="submitted && f.paidThroughDate.errors" class="invalid-feedback">
              <div *ngIf="f.paidThroughDate.errors.required">
                <h5>Select a date</h5>
              </div>
            </div>
          </ion-item>
        </ion-col>
        <ion-col>
          <!--Fecha de pagado-->
          <ion-item [class.invalid]="submitted && !datosForm.controls.policyTermDate.valid" >
            <ion-icon name="calendar-outline" slot="start" color="primary"></ion-icon>
            <ion-label position="floating">Term Date</ion-label>     
            <ion-datetime displayFormat="MM/DD/YYYY" min="2000-01-01" max="2100-12-31" 
                          formControlName="policyTermDate" name="policyTermDate" required [readonly]="readonly"></ion-datetime>
            <div *ngIf="submitted && f.policyTermDate.errors" class="invalid-feedback">
              <div *ngIf="f.policyTermDate.errors.required">
                <h5>Select a date</h5>
              </div>
            </div>
          </ion-item>
        </ion-col>
      </ion-row>
  
      <ion-row>
        
        <ion-col>
          <!--responsabilidad-->
          <ion-item [class.invalid]="submitted && !datosForm.controls.montlyPremium.valid" >
            <ion-icon name="newspaper-outline" slot="start" color="primary"></ion-icon>
            <ion-label position="floating">Montly Premium</ion-label>     
            <ion-input name="montlyPremium" type="number" formControlName="montlyPremium" required [readonly]="readonly"></ion-input>
            <ion-icon name="cash-outline" slot="end" style="margin-top: 25px;"></ion-icon>
            <div *ngIf="submitted && f.montlyPremium.errors" class="invalid-feedback">
              <div *ngIf="f.montlyPremium.errors.required">
                <h5>Enter a Montly Premium</h5>
              </div>
            </div>
          </ion-item>
        </ion-col>
        <ion-col>
          <!--responsabilidad-->
          <ion-item [class.invalid]="submitted && !datosForm.controls.responsability.valid" >
            <ion-icon name="newspaper-outline" slot="start" color="primary"></ion-icon>
            <ion-label position="floating">Member Responsibility</ion-label>     
            <ion-input name="responsability" type="number" formControlName="responsability" required [readonly]="readonly"></ion-input>
            <ion-icon name="cash-outline" slot="end" style="margin-top: 25px;"></ion-icon>
            <div *ngIf="submitted && f.responsability.errors" class="invalid-feedback">
              <div *ngIf="f.responsability.errors.required">
                <h5>Enter a responsability</h5>
              </div>
            </div>
          </ion-item>
        </ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col>
          <!--estado-->
          <ion-item [class.invalid]="submitted && !datosForm.controls.state.valid" >
            <ion-icon name="map-outline" slot="start" color="primary"></ion-icon>
            <ion-label position="floating">State</ion-label>     
            <ion-input name="state" type="text" formControlName="state" required [readonly]="readonly"></ion-input>
            <div *ngIf="submitted && f.state.errors" class="invalid-feedback">
              <div *ngIf="f.state.errors.required">
                <h5>Enter a state</h5>
              </div>
            </div>
          </ion-item>
        </ion-col>
        <ion-col>
          <!--autoplay-->
          <ion-item [class.invalid]="submitted && !datosForm.controls.autoplay.valid" >
            <ion-icon name="checkbox-outline" slot="start" color="primary"></ion-icon>
            <ion-label position="floating">Autoplay</ion-label>     
            <ion-select placeholder="Select one" formControlName="autoplay" name="autoplay" [disabled]="readonly">
              <ion-select-option>True</ion-select-option>
              <ion-select-option>False</ion-select-option>
            </ion-select>
            <div *ngIf="submitted && f.autoplay.errors" class="invalid-feedback">
              <div *ngIf="f.autoplay.errors.required">
                <h5>Select one</h5>
              </div>
            </div>
          </ion-item>
        </ion-col>
        <ion-col>
            <!--elegibleForCommission-->
          <ion-item [class.invalid]="submitted && !datosForm.controls.elegibleForCommission.valid" >
            <ion-icon name="checkbox-outline" slot="start" color="primary"></ion-icon>
            <ion-label position="floating">Elegible for commission</ion-label>     
            <ion-select placeholder="Select one" formControlName="elegibleForCommission" name="elegibleForCommission" [disabled]="readonly">
              <ion-select-option>True</ion-select-option>
              <ion-select-option>False</ion-select-option>
            </ion-select>
            <div *ngIf="submitted && f.elegibleForCommission.errors" class="invalid-feedback">
              <div *ngIf="f.elegibleForCommission.errors.required">
                <h5>Select one</h5>
              </div>
            </div>
          </ion-item>
        </ion-col>
      </ion-row>      
    </ion-col>
    <ion-col class="section-border">
      <ion-item [class.invalid]="submitted && !datosForm.controls.clientRef.valid">
        <ion-label>Client</ion-label>     
        <ion-button *ngIf="!readonly" slot="end" color="primary" (click)="addClient()">+</ion-button>
        <div *ngIf="submitted && f.clientRef.errors" class="invalid-feedback">
          <div *ngIf="f.clientRef.errors.required">
            <h5>Enter a client</h5>
          </div>
        </div>
      </ion-item>     
      <ion-item *ngIf="client.id">
        <ion-icon name="person-outline" slot="start" color="primary"></ion-icon>
        {{client.firstName}} {{client.lastName}}
        <ion-icon *ngIf="!readonly" color="danger" name="trash-outline" slot="end" color="primary" (click)="deleteClient()"></ion-icon>
      </ion-item>
  
      <!--Clientes miembros-->
      <ion-item>
        <ion-label>Family's members</ion-label>     
        <ion-button *ngIf="!readonly" slot="end" color="primary" (click)="addFamily()">+</ion-button>
      </ion-item>
  
      <ion-item *ngFor="let miembro of familyMembers;let i= index">
        <ion-icon name="person-outline" slot="start" color="primary"></ion-icon>
        {{miembro.firstName}} {{miembro.lastName}} 
        <ion-icon *ngIf="!readonly" color="danger" name="trash-outline" slot="end" color="primary"  (click)="deleteFamily(i,miembro)"></ion-icon>
      </ion-item>
    </ion-col>
  </ion-row> 
</form>
</ion-content>
<ion-footer class="ion-padding">
  <ion-toolbar> 
    <span *ngIf="!isEditing && !readonly" type="submit" color="primary" (click)="archivos()">
      Debes guardar el formulario antes de poder agregar archivos y comentarios
    </span>  
    <ion-button *ngIf="isEditing && !readonly" type="submit" color="primary" (click)="archivos()">
      <ion-icon name="file-tray-full-outline"></ion-icon>&nbsp;
      Files
    </ion-button>   
    <ion-button *ngIf="isEditing && !readonly" type="submit" color="primary" (click)="comentarios()">
      <ion-icon name="chatbox-ellipses-outline"></ion-icon>&nbsp;
      Comments
    </ion-button>   
    <ion-button *ngIf="!readonly" type="submit" slot="end" color="success" (click)="registrar()">
      <ion-icon name="save-outline"></ion-icon>&nbsp;
      Save
    </ion-button>   
  </ion-toolbar> 
  
</ion-footer>