<ion-header class="ion-no-border">
  <ion-toolbar>
    <app-header [titulo]="'Policies'" [icono]="'menu'"></app-header>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-row>
    <ion-col>
      <ion-searchbar animated 
        [placeholder]="placeholder" 
        showCancelButton="never" 
        color="light" 
        autocomplete="on"
        enterkeyhint="send"
        inputmode="text"
        type="text"
        debounce="500"
        (ionChange)="onChange($event)">
      </ion-searchbar>
    </ion-col>
    <ion-col>
      <ion-select placeholder="Status" (ionChange)="changeStatus($event)" name="status">
        <ion-select-option value="Active">Active</ion-select-option>
        <ion-select-option value="Inactive">Inactive</ion-select-option>
        <ion-select-option value="Pending">Pending</ion-select-option>
        <ion-select-option value="All">All</ion-select-option>
      </ion-select>
    </ion-col>
  </ion-row>
  

<ngx-datatable 
[rows]="rows" 
class="material" 
[limit]="8"
[loadingIndicator]="loadingIndicator"
[columnMode]="'force'" 
[headerHeight]="50" 
[footerHeight]="50" 
[rowHeight]="'auto'"
[columns]="columns" 
[reorderable]="reorderable">
  <ngx-datatable-column  name="Agent Name"> </ngx-datatable-column>
  <ngx-datatable-column  name="Policy Number">
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{row.number}}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column  name="Client Name">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <div (click)="viewClient(row)">
        {{row.clientName}}
      </div>     
    </ng-template>
  </ngx-datatable-column>
  
  <ngx-datatable-column  name="# Members" [maxWidth]="100" [sortable]="false"> 
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{row.numberOfMembres}}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column  name="Responsability">
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{row.responsability | currency}}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column  name="Status" [maxWidth]="100" [sortable]="false">
  </ngx-datatable-column>
  <ngx-datatable-column [maxWidth]="100" [sortable]="false"> 
    <ng-template let-row="row" ngx-datatable-cell-template>
      <ion-button (click)="editar(row)" expand="block">
        <ion-icon name="open-outline"></ion-icon>
      </ion-button>          
    </ng-template>    
  </ngx-datatable-column>
</ngx-datatable>

<ion-fab class="boton-flotante" horizontal="end" vertical="end" slot="fixed" (click)="agregar()">
  <ion-fab-button color="primary">
    <ion-icon name="add" ></ion-icon>
  </ion-fab-button>
</ion-fab>

</ion-content>
