<ion-header class="ion-no-border">
  <ion-toolbar>
    <app-header [titulo]="'Files'" [icono]="'close'" (click)='clickIcono($event)'></app-header>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-row>
    <ion-col>
      <ion-searchbar animated 
        [placeholder]="placeholder" 
        showCancelButton="never" 
        color="light" 
        autocomplete="on"
        enterkeyhint="send"
        inputmode="text"
        type="text"
        debounce="500"
        (ionChange)="onChange($event)">
      </ion-searchbar>
    </ion-col>
    <ion-col>
      <ion-button color="success" (click)="showUpload()">
        <ion-icon name="save-outline"></ion-icon>&nbsp;
        Upload
      </ion-button> 
    </ion-col>
  </ion-row>
  <ngx-datatable 
  [rows]="rows" 
  class="material" 
  [limit]="8"
  [loadingIndicator]="loadingIndicator"
  [columnMode]="'force'" 
  [headerHeight]="50" 
  [footerHeight]="50" 
  [rowHeight]="'auto'"
  [columns]="columns" 
  [reorderable]="reorderable">

    <ngx-datatable-column  name="format" [canAutoResize]="false">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <span *ngIf="row.format.indexOf('application') > -1" style="font-size: 24px;">
          <ion-icon  name="document-text-outline"></ion-icon>
        </span>
        <span *ngIf="row.format.indexOf('image') > -1" style="font-size: 24px;">
         <img src="{{row.url}}" alt="">
        </span>
        <span *ngIf="row.format == ''" style="font-size: 24px;">
          <img src="{{row.url}}" alt="">
         </span>
        
      </ng-template>
    </ngx-datatable-column> 

    <ngx-datatable-column  name="Name" >
      <ng-template let-row="row" ngx-datatable-cell-template>
        <a href="{{row.url}}" target="_blank">
          {{row.name}} <br>          
        </a>
        {{row.createdAt | date:'hh:mm aaa dd/MM/yyyy'}}
      </ng-template>
    </ngx-datatable-column>       
    <ngx-datatable-column [sortable]="false" [canAutoResize]="false"> 
      <ng-template let-row="row" ngx-datatable-cell-template>
        <ion-button  color="danger" expand="block" (click)="delete(row)">
          <ion-icon slot="start" name="trash-outline"></ion-icon>
        </ion-button>          
      </ng-template>    
    </ngx-datatable-column>
  </ngx-datatable>
    
</ion-content>